@charset "utf-8";
/* CSS Document */

	img{
	width:1200px;
	height:900px;
	position:absolute;
	left:35px;
	top:200px;
	}

	
	#div1{
		width:100px;
		height:450px;
		border-right:white 2px solid;
		position:relative;
		left:280px;
		top:200px;
		
		}
	
	
		
		
	#div2
	{
	    background: transparent;
		width:770px;
		height:450px;
		border:0px;
		position:relative;
		left:400px;
		bottom:250px;
		font-family:"Microsoft Yahei";
		font-size:24px;
		color:#960;;
		overflow-x:hidden;
		}
		
		
		
		
	#ul2{
		clear:both;
		
		font-family:"华文行楷";
		font-size: 24px;
		color:#960;}
