@charset "utf-8";
/* CSS Document */

	img{
	width:1200px;
	height:900px;
	position:absolute;
	left:90px;
	top:200px;
	}
	
		
		
	#div2
	{
	    background: transparent;
		width:780px;
		height:450px;
		border:0px;
		position:relative;
		left:320px;
		bottom:-200px;
		font-family:"Microsoft Yahei";
		font-size:24px;
		color:#960;;
		overflow-x:hidden;
		}
		
		
		
		
	#ul2{
		clear:both;
		
		font-family:"华文行楷";
		font-size: 24px;
		color:#960;}
